<h1 style="text-align: center">✍️ Doc Signer </h1>

<a class="github-link" href="https://github.com/eneajaho/doc-signer">
  <img
    src="assets/github-mark.png"
    alt="Fork me on GitHub"
  />
  Fork me on GitHub
</a>

<div class="editor-grid">
  <div class="elements">
    <h3>Elements</h3>
    <div>
      TODO: Add elements here

      <ul>
        <li>Text</li>
        <li>Image</li>
        <li>Signature</li>
      </ul>
   
      <div>
        Save items in localstorage and load them here when the page loads
      </div>

    </div>
  </div>

  <div class="pdf-editor">
    <ng-container *ngIf="pdfFileSrc() as src; else uploadSth">
      <app-pdf-editor [pdfFileSrc]="src" />
      <button class="close-btn" type="button" (click)="confirmClose() ? pdfFileSrc.set(null) : null">
        Close file
      </button>
    </ng-container>

    <ng-template #uploadSth>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 100%;
          position: relative;
        "
      >
        <div style="margin-bottom: 15px">
          Please upload a PDF file to start editing.
        </div>
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="upload-input"
          accept="application/pdf"
          label="Upload"
          id="file"
        />
      </div>
    </ng-template>
  </div>
</div>
