<h1 style="text-align: center">✍️ Doc Signer </h1>

<div class="editor-grid">
  <div class="elements">
    <h3>Elements</h3>
    <div>
      TODO: Add elements here
    </div>
  </div>

  <div class="pdf-editor">
    <ng-container *ngIf="pdfFileSrc() as src; else uploadSth">
      <app-pdf-editor [pdfFileSrc]="src" />
      <button class="close-btn" type="button" (click)="confirmClose() ? pdfFileSrc.set(null) : null">
        Close file
      </button>
    </ng-container>

    <ng-template #uploadSth>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 100%;
          position: relative;
        "
      >
        <div style="margin-bottom: 15px">
          Please upload a PDF file to start editing.
        </div>
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="upload-input"
          accept="application/pdf"
          label="Upload"
          id="file"
        />
      </div>
    </ng-template>
  </div>
</div>
